body {
    background-color: #1e1e1e; /* Dark background */
    color: #e0e0e0; /* Light text */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #f5f5f5; /* Lighter color for headings */
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #444;
    color: #e0e0e0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Button hover effect */
}

#stats {
    margin-top: 20px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    color: #e0e0e0;
    border: 1px solid #555;
}

#in-game-status {
    background-color: #2c2c2c;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

#in-game-status strong {
    color: #f5f5f5;  /* Lighter color for emphasis */
}

#loading-spinner {
    margin: 20px auto;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    display: none; /* Hidden by default */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
